@import "tailwindcss";

:root {
  --background: #F7FBF7;
  --foreground: #050505;
  --pure-black: #050505;
  --growth-green: #006B21;
  --neon-lime: #39E900;
  --soft-mint: #E9F8E9;
  --off-white: #F7FBF7;
  --dark-forest: #10251A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pure-black: #050505;
  --color-growth-green: #006B21;
  --color-neon-lime: #39E900;
  --color-soft-mint: #E9F8E9;
  --color-off-white: #F7FBF7;
  --color-dark-forest: #10251A;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom scrollbars and utility styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #006B21;
  border-radius: 9999px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
